%div.menu
  %div.icon-close 
    =image_tag "http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png", class: "icon-close"

  %ul
    %li= link_to "Home", user_path(current_user)
    %li= link_to "About", ""
    %li= link_to "Calculate", user_fabric_index_path(current_user)
    %li= link_to "Contact", ""
    %li= link_to "Logout", destroy_user_session_path, method: :delete

%div.icon-menu
  %i.glyphicons.icon-list Menu