/ %h1 User Index Page

/ %table#fabrics
/   %thead
/     %tr
/       %th Color
/       %th Serial
/       %th Quantity
/       %th Price
/       %th More Info
/   %tbody
/     - if @fabrics.any?
/       - @fabrics.each do |fabric|
/         %tr
/           %td= fabric.color 
/           %td= fabric.serial
/           %td= fabric.quantity
/           %td= fabric.price
/           %td= link_to "More Information"
%body.user_show
  = render 'shared/top_menu_bar'

  = render 'shared/side_menu_bar'

  %div.jumbotron_show
    %div.icon-menu
      %i.glyphicons.icon-list Menu

    %table#fabrics.table.table-hover
      %thead
        %tr
          %th Color
          %th Serial
          %th Quantity
          %th Price
          %th More Info
      %tbody
        - if @fabrics.any?
          - @fabrics.each do |fabric|
            %tr
              %td= fabric.color 
              %td= fabric.serial
              %td= fabric.quantity
              %td= fabric.price
              %td= link_to "More Information"